
    <!DOCTYPE html>
    <html lang="en">
    
    
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni-Eats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    
    
    
    </head>
    
    
    <body>
    <div class="container">
    
    
    <br>
    <h1 class="green-rectangle">
    <span class="uni">Uni</span> <span class="eats">Eats</span>
    </h1>
    
    
    <div class="info">
    <p class="school"> Boston University </p>
    <p class="location"></p>
    </div>
    <div class="calorie-input">
    <label for="calories">Enter calorie amount: </label>
    <br>
    <input type="number" id="calories">
    </div>
    
    
    <div class="section2-container">
    <button id="regenerate">Regenerate</button>
    <div class="menu">
    <p id = "foods" class="entree">Meal </p>

    </div>
    </div>
    
    
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    
    
    
    </body>
    
    
    </html>
    